<div>
    
    Example of a recursive template: <br/>
    
    <b>Sub-template-1</b> <br/>
    <div 
        id="4.1" 
        data-perry-template="../templates/hello-world.html" 
        data-perry-data="../data/person-1.json" >
        ... Loading ...
    </div>

        Loading sub 1
    </div>
    <br/>
    
    <b>Sub-template-2</b> <br/>
    <div 
        id="4.1" 
        data-perry-template="../templates/hello-world2.html" 
        data-perry-data="../data/person-1.json" >
        ... Loading ...
    </div>
        Loading sub 2
    </div>
    
  
    
</div>